## Variables

Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.

Video Outline:

* Introduction to Variables
* Declaring and Assigning Variables
* Naming Conventions
* Understanding Variable Types
* Type Checking and Conversion
* Dynamic Typing
* Practical Examples and Common Errors

In [1]:
a=100

In [2]:
## Declaring And Assigning Variables

age=20
height=5.1
name="Srabany"
is_student=True

## printing the variables

print("Age :",age)
print("Height:",height)
print("Name:",name)

Age : 20
Height: 5.1
Name: Srabany

In [3]:
## Naming Conventions
## Variable names should be descriptive
## They must start with a letter or an '_' and contains letter,numbers and underscores
## variables names case sensitive

#valid variable names

first_name="Srabany"
last_name="Biswas"

In [ ]:
## Invalid variable names
# 2age=20
# first-name="Srabany"
# @name="Srabany"

IndentationError: unexpected indent (1203589483.py, line 4)

In [10]:
## case sensitivity
name="Srabany"
Name="Biswas"

In [11]:
name==Name

False

In [12]:
## Understnading Variable types
## Python is dynamically typed,type of a variable is determined at runtime
age=20 #int
height=5.1 #float
name="Srabany" #str
is_student=True #bool

print(type(age))
print(type(height))
print(type(name))
print(type(is_student))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
## Type Checking and Conversion

type(age)

int

In [15]:
type(height)

float

In [16]:
type(name)

str

In [17]:
type(is_student)

bool

In [18]:
age=25
print(type(age))

# Type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [19]:
age='25'
int(age)

25

In [20]:
age='25'
print(type(int(age)))

<class 'int'>

In [21]:
name="Srabany"
int(name)

ValueError: invalid literal for int() with base 10: 'Srabany'

In [22]:
height=5.11
type(height)

float

In [23]:
float(int(height))

5.0

In [24]:
## Dynamic Typing
## Python allows the type of a vraible to change as the program executes
var=10 #int
print(var,type(var))

var="Hello"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [25]:
## input

age=int(input("What is the age"))
print(age,type(age))

20 <class 'int'>

In [26]:
### Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 15.0
Difference: 5.0
Product: 50.0
Quotient: 2.0

#### Conclusion:

Variables are essential in Python programming for storing and manipulating data. Understanding how to declare, assign, and use variables effectively is crucial for writing functional and efficient code. Following proper naming conventions and understanding variable types will help in maintaining readability and consistency in your code.